.border{
    border:2px solid red;
    margin: 3px;
}

.flex{
    display:flex;
}

.justify-center{
    justify-content:center;
}

.items-center{
    align-items:center;
}

.bg-black{
    background-color: black;
    color: white;

}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark background for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #444; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded edges for the thumb */
    border: 2px solid #1a1a1a; /* Adds a border for contrast */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #666; /* Color when the thumb is hovered */
  }